.section-gap {
  padding: 50px 0;
}
.about-right p {
  text-align: justify;
}

.primary-btn {
  line-height: 42px;
  padding: 5px 30px;

  border-radius: 25px;
  border: none;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  background-color: goldenrod;
}

.img-fluid {
  border: 3px solid black !important;
  border-radius: 10%;
}

.gallery-area {
  background-color: #000;
  color: #fff;
}
.header-text h1 {
  margin-bottom: 20px;
}
.header-text p {
  color: #777;
}

/* ------------------------testmonial start------------- */
.testmonial-items {
  background-color: #000;
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
}
.testmonial-header {
  padding: 0.3rem 0rem !important;
}

.testmonial-img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.test-monial-title .name {
  color: white;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.test-monial-title .email {
  color: white;
  font-size: 15px;
}
.testmonials .slick-slide div {
  margin: 0rem 1rem;
}
.mb-0 {
  margin-bottom: 10px !important;
}
.testmonial-content {
  margin: 1rem 0rem;
}
blockquote {
  color: white;
  font-size: 15px;
  text-align: justify;
}
.swiper-horizontal {
  height: 350px;
}
.video-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.video-bg{
  background: #00000069;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20px;
  flex-direction: column;
}

